<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jr.aula">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.br.turismo.control.login.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".com.example.jr.aula.intents.TestarIntent" />
        <activity android:name=".com.example.jr.aula.com.example.jr.aula.contentProvider.ExampleContentProvider" />
        <activity android:name="com.br.turismo.control.listar.Listar" />
        <activity android:name="com.br.turismo.control.cadastrar.CadastrarUsuario"></activity>
    </application>

</manifest>